@font-face {
  font-family: ProximaNovaBold;
  src: url("../fonts/Proxima-Nova-Bold.otf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: ProximaNovaLight;
  src: url("../fonts/Proxima-Nova-Light.otf");
  font-weight: normal;
  font-style: normal; }

* {
  margin: 0;
  padding: 0;
  max-width: 100%; }

.main {
  width: 100%;
  height: 695px;
  display: grid;
  background-image: url("../images/home-bg.jpeg");
  background-size: cover; }
  .main .heading {
    font-family: ProximaNovaLight, serif;
    font-size: 45px;
    background: linear-gradient(to right, #fca242, #d14a69);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: left; }
  .main .description {
    font-family: ProximaNovaLight, serif;
    font-size: 15px;
    font-weight: 500;
    color: #f9f9f9;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px; }
  .main .main-grid-head {
    grid-area: header;
    margin-left: 12%; }
    .main .main-grid-head button {
      font-family: ProximaNovaBold, serif;
      color: #f9f9f9;
      padding: 1em 1.5em 1em;
      margin: 1em auto;
      background: linear-gradient(to right, #fca242, #d14a69);
      border: none;
      border-radius: 3px; }
  .main .main-grid-footer {
    grid-area: footer;
    margin-left: 12%;
    margin-right: 12%; }
    .main .main-grid-footer .wrapper-txt {
      grid-area: txt;
      align-items: center;
      display: flex;
      flex-direction: column;
      align-content: center;
      justify-content: center; }
      .main .main-grid-footer .wrapper-txt p {
        font-family: ProximaNovaLight, serif;
        color: #f9f9f9; }
    .main .main-grid-footer .wrapper-date {
      grid-area: date;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center; }
      .main .main-grid-footer .wrapper-date input {
        background-color: rgba(0, 0, 0, 0.3);
        height: 50%;
        border: none;
        color: #f9f9f9;
        margin-left: 20px; }
        .main .main-grid-footer .wrapper-date input::placeholder {
          opacity: 0.8;
          color: #f9f9f9;
          font-family: ProximaNovaLight, serif; }
    .main .main-grid-footer .wrapper-btn {
      grid-area: btn;
      margin-left: 10%;
      display: flex;
      flex-direction: row;
      align-content: center;
      align-items: center;
      justify-content: space-evenly; }
      .main .main-grid-footer .wrapper-btn button {
        background: none;
        border: none;
        margin: 0;
        padding: 0;
        cursor: pointer;
        color: #f9f9f9;
        font-family: ProximaNovaBold, serif; }
    .main .main-grid-footer .wrapper {
      width: 100%;
      height: 100px;
      background: linear-gradient(to right, #fca242, #d14a69);
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around; }
  .main .container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    grid-template-rows: auto;
    grid-template-areas: "header header . . ." ". . . . ." "footer footer footer footer footer"; }

.intro {
  background-color: #f9f9f9; }
  .intro .grid-info {
    margin-left: 20%;
    margin-right: 18%; }
    @media (max-width: 500px) {
      .intro .grid-info {
        margin-left: 5%;
        margin-right: 5%; } }
    .intro .grid-info .heading {
      font-family: ProximaNovaLight, serif;
      font-size: 45px;
      background: linear-gradient(to right, #fca242, #d14a69);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: left;
      padding-top: 10%; }
    .intro .grid-info .description {
      font-family: ProximaNovaLight, serif;
      font-size: 15px;
      font-weight: 500;
      color: black;
      text-align: left;
      padding-top: 10px;
      padding-bottom: 10px; }
    .intro .grid-info button {
      font-family: ProximaNovaBold, serif;
      color: #f9f9f9;
      padding: 1em 1.5em 1em;
      margin: 1em auto;
      background: linear-gradient(to right, #fca242, #d14a69);
      border: none;
      border-radius: 3px; }
  .intro .grid-image {
    margin-top: 10%;
    margin-bottom: -50px; }
    .intro .grid-image img {
      border-radius: 10px; }
    @media (max-width: 1000px) {
      .intro .grid-image {
        margin-bottom: 0; }
        .intro .grid-image img {
          width: 100%;
          border-radius: 0; } }
  .intro .grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: auto; }
    @media (max-width: 1000px) {
      .intro .grid {
        grid-template-columns: repeat(1, minmax(300px, 1fr)); } }

.products {
  background-color: white; }
  .products .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%; }
    .products .container .heading {
      font-family: ProximaNovaLight, serif;
      font-size: 45px;
      background: linear-gradient(to right, #fca242, #d14a69);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-top: 10%;
      margin-bottom: 15px; }
    .products .container .description {
      font-family: ProximaNovaLight, serif;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 30px; }
    .products .container .products-grid {
      margin-left: 15%;
      margin-right: 15%;
      display: grid;
      grid-template-columns: repeat(4, minmax(200px, 1fr));
      grid-template-rows: auto;
      column-gap: 10px;
      row-gap: 10px; }
      @media (max-width: 950px) {
        .products .container .products-grid {
          grid-template-columns: repeat(2, minmax(200px, 1fr)); } }
      @media (max-width: 450px) {
        .products .container .products-grid {
          grid-template-columns: repeat(1, minmax(200px, 1fr)); } }
      .products .container .products-grid .img-container {
        position: relative;
        text-align: center;
        color: white; }
        .products .container .products-grid .img-container .img-text {
          font-family: ProximaNovaBold, serif;
          font-weight: bolder;
          font-size: 12px;
          position: absolute;
          bottom: 16px;
          left: 16px;
          background-color: rgba(0, 0, 0, 0.5); }
      .products .container .products-grid img {
        height: 320px;
        width: 250px;
        border-radius: 10px;
        box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.4); }
  @media (max-width: 450px) {
    .products .products-intro {
      margin-left: 5%;
      margin-right: 5%; } }
  @media (max-width: 480px) {
    .products .products-intro {
      text-align: center; } }

.packages {
  background-color: #f9f9f9; }
  .packages .container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 5%; }
    .packages .container .heading {
      font-family: ProximaNovaLight, serif;
      font-size: 45px;
      background: linear-gradient(to right, #fca242, #d14a69);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      margin-bottom: 15px;
      margin-top: 10%; }
    .packages .container .description {
      font-family: ProximaNovaLight, serif;
      font-size: 15px;
      font-weight: 500;
      margin-bottom: 30px; }
    .packages .container .packages-grid {
      display: grid;
      grid-template-columns: repeat(2, minmax(300px, 1fr));
      grid-template-rows: auto;
      column-gap: 10px;
      row-gap: 30px;
      padding-bottom: 10px;
      margin-bottom: 50px; }
      @media (max-width: 750px) {
        .packages .container .packages-grid {
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); } }
      .packages .container .packages-grid img {
        height: 314px;
        border-radius: 10px;
        box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.4); }
    @media (max-width: 450px) {
      .packages .container .packages-intro {
        margin-left: 5%;
        margin-right: 5%; } }
    @media (max-width: 480px) {
      .packages .container .packages-intro {
        text-align: center; } }

.footer {
  background-color: #ebebeb;
  padding-top: 5%;
  font-size: 12px; }
  .footer .footer-text {
    font-family: ProximaNovaLight, serif;
    font-weight: 900;
    color: #a2a2a2;
    line-height: 18px; }
    .footer .footer-text ul li {
      list-style-type: none; }
  .footer hr {
    height: 1px;
    background-color: #ccc;
    border: none; }
  .footer .title {
    color: black;
    font-family: ProximaNovaBold, serif;
    padding-bottom: 20px; }
    @media (max-width: 600px) {
      .footer .title {
        padding-top: 35px;
        padding-bottom: 10px; } }
  .footer .copyright {
    color: black;
    margin-top: 2%;
    padding-bottom: 2%;
    font-family: ProximaNovaBold, serif;
    text-align: center; }
  .footer .grid-row {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 5%; }
    @media (min-width: 600px) and (max-width: 900px) {
      .footer .grid-row .links, .footer .grid-row .contact, .footer .grid-row .socials {
        margin-left: 35%; } }
    @media (max-width: 900px) {
      .footer .grid-row {
        justify-items: stretch; } }
  @media (max-width: 600px) {
    .footer .grid-row .links, .footer .contact, .footer .socials {
      text-align: center; }
    .footer .socials-icons {
      justify-content: center; } }
  .footer .socials-icons {
    display: flex;
    flex-direction: row; }
    .footer .socials-icons li {
      list-style-type: none;
      margin-right: 30px; }
      .footer .socials-icons li img {
        height: 15px; }

.nav-area {
  background: #0005;
  height: 62px;
  width: 100%;
  font-family: ProximaNovaBold, serif; }
  .nav-area ul {
    float: right;
    margin-right: 20px; }
    .nav-area ul li {
      display: inline-block;
      line-height: 60px;
      margin: 0 5px; }
      .nav-area ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 10px;
        padding: 22px 15px;
        font-weight: bold; }
        .nav-area ul li a:hover {
          background: darkorange;
          transition: .5s; }
      .nav-area ul li button {
        font-family: ProximaNovaBold, serif;
        color: #f9f9f9;
        padding: 0.5em 1.5em 0.5em;
        margin: 1em auto;
        background-color: #fca242;
        border: none;
        border-radius: 3px; }

.logo {
  width: 100px;
  line-height: 70px;
  padding: 0 40px; }

.btn-area {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 62px;
  margin-right: 40px;
  cursor: pointer;
  display: none; }

#box {
  display: none; }

@media (max-width: 955px) {
  .btn-area {
    display: block; }
  .nav-area ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000;
    top: 62px;
    left: -100%;
    text-align: center;
    transition: all .5s; }
    .nav-area ul li {
      display: block;
      margin: 0;
      line-height: 30px;
      padding: 25px 0; }
      .nav-area ul li a {
        font-size: 30px; }
        .nav-area ul li a:hover {
          background: none; }
      .nav-area ul li:hover {
        background: #fca242; }
  #box:checked ~ ul {
    left: 0; } }
